@charset "UTF-8";

/*pc幅1152px */
/* 768px〜 */
/* レスポンシブデザイン〜767px */
/* sp幅100% */

html {
    width: 1152px;
    margin: 0 auto;
}
@media screen and (max-width: 767px) {
   html {
       width: 100%;
   }
}

header {
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
    header {
        width: 100%;
    }
}

/* ヘッダーメニュー */
ul#main-nav {
	clear: both;
    margin-top: 52px;
    margin-bottom: 40px;
	padding: 0;
	height: 35px;
	background-color:white;
	border-radius: 3px;
	overflow: hidden;
}
ul#main-nav li {
	list-style-type: none;
	float: right;
}
ul#main-nav li a {
	font-size: 16px;
	display: block;
	width: 80px;
	line-height: 18px;
	color: black;
	text-align: center;
	margin: 0;
    text-decoration: none;
    transition: 0.5s;
}

@media screen and (max-width: 767px) {
    .nav {
        display: none;
    }
}

/* ヘッダー画像 z-indexで調整*/
/* メイン画像 */
.imgmain {
    position: absolute;
    margin-left: 64px;
    z-index: 0;
    width: 1024px;
    height: 448px;
}
@media screen and (max-width: 767px) {
    .imgmain-div {
        width: 100vw;
    }
    .imgmain {
        margin-top: 277px;
        margin-left: 0;
        position: relative;
        width: 100vw;
        height: auto;
    }
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 767px) {
.pc { display: none !important; }
.sp { display: block !important; }
}

/* 丸ロゴ */
.imglogo {
    position: absolute;
    z-index: 1;
    width: 242px;
    height: 242px;
    margin-top: -115px;
}

@media screen and (max-width: 767px) {

    .imglogo-div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .imglogo {
        width: 216px;
        height: 216px;
        margin-top: 30px;         
    }
}

/* 文字画像 境界線であわせてます*/
.imgcharset {
    position: relative;
    z-index: 2;
    width: 401px;
    height: 202px;
    margin-top: 284px;
    margin-left: 736px;
}
@media screen and (max-width: 767px) {
    .imgcharset {
        display: none;
    }
}

/* sp用の文字画像 */
.imgcharset_sp {
    display: none;
}
@media screen and (max-width: 767px) {

    .imgcarset_sp-div {
        width: 100%;
    }
    .imgcharset_sp {
        display: block;
        position: absolute;
        width: 60%;
        height: auto;
        top: 330px;
        left: 35px;
        /* transform: rotate(15deg); */


    }
}

/* ヘッダー説明 */
.explanation {
    margin-top: -17px;
    font-size: 24px; 
}

@media screen and (max-width: 767px) {
    .explanation {
        text-align: center;
        line-height: 3rem;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 32px; 
    }
    .br::before {
        content: "\A" ;
        white-space: pre ;
    }
}

/* ブログ記事部分 */

.articles-title{
    margin-top: 33px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    height: 40px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .articles-title{
        display: flex;
        justify-content: center;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: bold;
        font-size: 40px;
        margin: initial;
        padding-top: 45vw;
        width: 100vw;
    }

}

.articles{
    margin-top: 16px;
    padding-right: 21px;
    margin-left: 65px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 1057px;
    height: 975.28px;
}

@media screen and (max-width: 767px) {
    .articles{
        margin: initial;
        padding: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 4970px;
    }  

}

.article{
    width: 320px;
    height: 402px;
    margin-right: 32px;
    margin-bottom: 64px;
    position: relative;
}

.article:hover{
    box-shadow: 0 0 8px gray;
}

@media screen and (max-width: 767px) {
    .article{
        margin-right: initial;
        width: 90vw;
        height: 793px;
        margin-bottom: 30px;
        position: relative;
    }
}

.article p{
    margin-top: 15px;
    padding-right: 20px;
    font-size: 16px;
    transform: scale(0.8, 1);
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

@media screen and (max-width: 767px) {
    .article p{
        margin-top: 15px;
        padding-right: 20px;
        font-size: 31px;
        transform: scale(0.8, 1);
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }
}

.link{
    text-align: right;
}

.read-more{
    font-size: 12px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 30px;
    right: 20px;
    transform: scale(0.8, 1);
}

.Item-Text{
    position: relative;
    z-index: 1;
}

.Item-Text:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;/*テキストからの距離*/
    width: 20%;/*初期状態では下線非表示*/
    height: 2px;/*下線の高さ*/
    background: black;/*下線の色*/
    z-index: -1;
    transition: all 0.4s;/*アニメーション速度*/
}

.Item:hover .Item-Text:after{
    width: 100%;/*hover時に表示*/
}

@media screen and (max-width: 767px) {
    .read-more{
    font-size: 23px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 30px;
    right: 20px;
    transform: scale(0.8, 1);
    }
}

.attachment-thumbnail size-thumbnail wp-post-image{
    width: 320px;
    height: 206px;
}

@media screen and (max-width: 767px) {
    .article img{
        width: 90vw;
        height: auto;
    }

}



/* フッター */
footer {
    width: 100%;
    height: 128px;
    color: white;
    background-color: black;
    text-align: center;
}
@media screen and (max-width: 767px) {
    footer {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

/* フッター文字 */
.middle {
    position: absolute;
    text-align: center;
    font-size: 16px;
    margin-top: 58px;
    margin-left: 400px;
}

@media screen and (max-width: 767px) {
    .middle {
        margin-left: initial;
        font-size: 20px;
        /* letter-spacing: 0.1rem; */
    }
}
