@charset "UTF-8";

/*pc幅1152px */
/* 768px〜 */
/* レスポンシブデザイン〜767px */
/* sp幅100% */

html {
    width: 1152px;
    margin: 0 auto;
}
/* @media screen and (max-width: 767px) {
   html {
       width: 100%;
   }
} */

header {
    width: 100%;
    height: 600px;
}
/* @media screen and (max-width: 767px) {
    header {
        width: 100%;
    }
} */

/* ヘッダーメニュー */
.nav{
    list-style: none;
    display: flex;
    justify-content: flex-end;

    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: 850px;
    }  
.nav li {
    width: 100px;
    text-align: center;
}
   
.nav li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
    color: black; 
}

/* @media screen and (max-width: 767px) {
    .nav {
        display: none;
    }
} */

/* ヘッダー画像 z-indexで調整*/
/* メイン画像 */
.imgmain {
    position: absolute;
    margin-left: 64px;
    z-index: 0;
    width: 1024px;
    height: 448px;
}
/* @media screen and (max-width: 767px) {
    .imgmain {
        margin-top: 277px;
        margin-left: 0;
        position: relative;
        z-index: 0;
        width: 100%;
        height: 540px;
    }
} */

/* 丸ロゴ */
.imglogo {
    position: absolute;
    z-index: 1;
    width: 242px;
    height: 242px;
    margin-top: -115px;
}

/* @media screen and (max-width: 767px) {
    .imglogo {
        width: 216px;
        height: 216px;
        margin-top: 30px;
        margin-left: 265px; 
    }
} */

/* 文字画像 境界線であわせてます*/
.imgcharset {
    position: absolute;
    z-index: 2;
    width: 401px;
    height: 202px;
    margin-top: 284px;
    margin-left: 736px;
}
/* @media screen and (max-width: 767px) {
    .imgcharset {
        display: none;
    }
} */


/* sp用の文字画像 */
.imgcharset_sp {
    display: none;
}
/* @media screen and (max-width: 767px) {
    .imgcharset_sp {
        position: absolute;
        z-index: 1;
    }
} */

/* ヘッダー説明 */
.explanation {
    margin-top: 52px;
    font-size: 24px; 
}

/* @media screen and (max-width: 767px) {
    .explanation {
        text-align: center;
        margin-top: 50px;
        font-size: 32px; 
    }

} */


/* フッター */
footer {
    width: 100%;
    height: 128px;
    color: white;
    background-color: black;
    text-align: center;
}

/* フッター文字 */
.middle {
    position: absolute;
    text-align: center;
    font-size: 16px;
    margin-top: 58px;
    margin-left: 400px;
}


/* レスポンシブデザイン〜767px */
/* sp幅100% */

.container{
    width: 1152px;
    margin: 0 auto;
}

.articles-title{
    margin-top: 31px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    height: 40px;
    font-family: "Yu Gothic bold"
}

.articles{
    margin-top: 20px;
    padding-right: 21px;
    margin-left: 65px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 1057px;
    height: 975.28px;
}

.article{
    width: 320px;
    height: 402px;
    margin-right: 32px;
    margin-bottom: 64px;
}

.article p{
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 30px;
    font-size: 16px;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
}

.link{
    text-align: right;
    padding-bottom: 30px;
    margin-top: 65px;
}

.read-more{
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.attachment-thumbnail size-thumbnail wp-post-image{
    width: 320px;
    height: 206px;
}

